:root {
    --envelope-x: 340px;
    --envelope-y: 220px;
    // --envelope-bg: Moccasin;
    // --envelope-shadow: Peru;
    --heart-bg: #c7bebe;
    --heart-text: #504646;
    --envelope-bg: #839e7a;
    --envelope-shadow: #555b53;
}

.cssletter {
    height: 260px;
    user-select: none;
    -webkit-user-select: none;
}

.envelope {
    position: relative;
    width: var(--envelope-x);
    height: var(--envelope-y);
    background: var(--envelope-bg);
    box-shadow: inset 0 0 30px -5px var(--envelope-shadow);
}

.envelope-flap {
    width: 100%;
    height: 71%;
    position: absolute;
    top: 0;
    z-index: 9;
    overflow: hidden;
    transition: 0.6s linear all;
    transform-origin: top;
    pointer-events: all;
}

.envelope-folds {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.envelope-flap::before,
.envelope-left::before,
.envelope-right::before,
.envelope-bottom::before {
    content: '';
    transform: rotate(45deg);
    background: var(--envelope-bg);
    box-shadow: 0 0 20px -6px var(--envelope-shadow);
    width: 100%;
    aspect-ratio: 1;
    display: block;
    position: absolute;
    top: 60%;
}

.envelope-flap::before {
    bottom: 54px;
    border-radius: 60px;
    top: auto;
}

.envelope-left::before {
    top: 10%;
    left: -65%;
}

.envelope-right::before {
    top: 10%;
    right: -65%;
}

.envelope-bottom::before {
    top: 55%;
    border-radius: 60px;
}

.heart {
    z-index: 11;
    position: relative;
    box-shadow: none;
    border: none;
    width: 70px;
    aspect-ratio: 1;
    background: radial-gradient(circle at 60% 65%, var(--heart-bg) 64%, #0000 65%) top left/50% 50%,
        radial-gradient(circle at 40% 65%, var(--heart-bg) 64%, #0000 65%) top right/50% 50%,
        conic-gradient(from -45deg at 50% 85.5%, var(--heart-bg) 90deg, #0000 0) bottom/100% 50%;
    background-repeat: no-repeat;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.heart::before {
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    aspect-ratio: 1;
    background: radial-gradient(circle at 60% 65%, #ffffff26 64%, #0000 65%) top left/50% 50%,
        radial-gradient(circle at 40% 65%, #ffffff26 64%, #0000 65%) top right/50% 50%,
        conic-gradient(from -45deg at 50% 85.5%, #ffffff26 90deg, #0000 0) bottom/100% 50%;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: 0.3s ease all;
    z-index: -1;
}

.heart-text {
    transform: translateY(-5px);
    display: block;
    color: var(--heart-text);
    font-size: 18px;
    font-family: 'Hepta Slab', serif;
}

.envelope.active * {
    pointer-events: none;
}

.envelope.active .envelope-flap {
    transform: rotateX(-180deg) translateY(0);
    perspective: 10px;
}

.envelope.active .envelope-flap::before {
    box-shadow: inset 0 0 30px -5px var(--envelope-shadow);
}

.envelope.active .heart {
    display: none;
}

.letters {
    width: 320px;
    height: 220px;
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 5;
    background: #fff;
    transform: translate(-50%, 0);
    border: 3px solid #385230;
    transition: 1s 0.3s ease all;

    .img {
        object-position: center 5%;
    }
}

.cssletter.active {
    .letters {
        transform: translate(-50%, -48%);
    }
    .envelope-flap {
        z-index: 3;
    }
}
